AWS_REGION=us-east-1
RUST_LOG=info
DEFAULT_MODEL=sonnet

ACCOUNT_ID=<account-id>
SESSIONS_BUCKET=doc-chatter-sessions-$ACCOUNT_ID

# From output of sam deploy, get `your-key-id`, then use command to get `<your-key-value>`
# aws apigateway get-api-key --api-key <your-key-id> --include-value --region us-east-1
API_GW_KEY=<your-key-value>
API_GW_URL=<your-api-gw-url>
FUNCTION_URL=<your-function-url>